.subfooter{
    padding: 40px;
    background-color: #EBE6FD;
    margin-top: 65px;
}
.text-desc{
text-align: center;
}


/* footer */
.main-footer{
    background-color: #171717;
    color: white;
    padding: 10px;
    padding-top: 30px;
    
}
.line{
    border-left: 1px solid gray;
    height: 80px;
    padding-left: 10px;
}
.line-horizontal{
    margin-top: 60px;
}